<<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% bootstrap_messages %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class='navbar-brand' href="#">Project name</a>
			</div>
		</div>
	</nav>

	<br><br>
	<div class="well">
		<h3>upload file</h3>
		<form method="post" enctype="multipart/form-data" action="/upload_s/">
			<br/>
			<input name='fileing' type="file" name="file"></input>
			<br/>
			<p>file describe</p>
			<input name="filename" type="text" class="l_input account input_with_watermark"></input>
			<input id="btn" type="submit" class="btn btn-lg btn-primary" value="upload"></input>
			<p class="text-warning">{{ upload_success}}  {{ error }}</p>
		</form>
	</div>
	<h2>file list:</h2>
		<table class="table">
			<th>file name</th><th>file</th>
			{% for file in file_list %}
				<tr class="success">
					<td>{{ file.filename }}</td>
					<td>{{ file.fileway }}</td>
				</tr>
			{% endfor%}
		</table>
	<footer>
		<p>&copy;Company 2016 &xzz</p>
	</footer>
</body>
</html>